@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url("header.css");
@import url("footer.css");
@import url("botones.css");
@import url("inputs.css");
@import url("tablas.css");
@import url("animaciones.css");
@import url("responsive.css");
body {
    background: url("/img/body.png") repeat;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    user-select: none;
}

a {
    color: #a73f2d;
    text-decoration: none;
}

h1 {
    color: #a73f2d;
    font-weight: bold;
    font-size: 2.5em;
    margin: 0;
    text-decoration: underline;
}

h1.granCabecera {
    color: #a73f2d;
    font-weight: bold;
    font-size: 6em;
    text-decoration: none;
}

p {
    margin-left: 35px;
    margin-right: 35px;
}

.bloqueSelector {
    margin: 45px 0;
}

.bloqueSelector p {
    font-weight: bolder;
}

.descripcionError {
    margin: 12% 0;
}

.descripcionError hr {
    background-color: #fff;
    border-top: 2px dashed #8c8b8b;
    width: 80%;
}

.error {
    background-color: #a73f2d;
    border: 1px solid #801313;
    border-radius: 64px;
    color: white;
    margin: 20px 4%;
    margin-bottom: 50px;
    padding: 3%;
}

.fa-eye-slash,
.fa-eye {
    position: absolute;
    right: 4px;
}

.valido {
    background-color: #137a61;
    border: 1px solid #145a48;
    border-radius: 64px;
    color: white;
    margin: 20px 4%;
    margin-bottom: 50px;
    padding: 3%;
}

.pOlvidadaPass {
    margin-top: 12%
}

.principal {
    background-color: #F5F5F6;
    border: 1px solid #801313;
    border-radius: 64px;
    bottom: 0;
    height: fit-content;
    left: 0;
    margin: auto;
    padding: 3% 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 3.5%;
    width: 54%;
    z-index: -1;
    overflow-y: scroll;
    max-height: 65%;
    /* Ocultar barra desplazamiento Firefox */
    scrollbar-width: none;
}


/* Ocultamos la barra de progreso en chrome */

.principal::-webkit-scrollbar {
    display: none;
}

.p-subtitulo {
    margin-top: 36px;
    margin-bottom: 0;
}